
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Introducción</h1>
      <p>El mundo actual está lleno de datos, datos que requieren ser mostrados de la mejor manera posible, la cual muchas veces se logra condensando la información en gráficos. Para lograr esto existen diversidad de herramientas que dependerán según el objetivo que se quiere lograr.</p>
      <p>Todo comienza con una pregunta, las aplicaciones prácticas de la ciencia de datos se basan en las siguientes etapas.</p>
      <ul>
        <li>Tener una hipótesis u objetivo, una pregunta que se desea responder.</li>
        <li>Obtener los datos necesarios para responderla</li>
        <li>Examinar los datos</li>
        <li>Establecer un modelo que permita obtener respuestas</li>
        <li>Construir gráficos que permitan observar los resultados</li>
      </ul>
      <h2>Herramientas a utilizar</h2>
      <h3><a href="https://d3js.org/" target="_blank">D3.js</a></h3>
      <p>Es una biblioteca de Javascript que permite la manipulación de documentos con base en datos utilizando elementos HTML, SVG y CSS. Te permite crear visualizaciones interactivas de acuerdo al manejo de datos existentes.</p><code class="html">&lt;script src="https://d3js.org/d3.v5.min.js"&gt;&lt;/script&gt;</code><br/>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Tipos de gráficos según los datos<img src="assets/images/data-chart-type.png" style="width:100%"/></h2><a href="https://datavizcatalogue.com/" target="_blank" rel="noopener noreferrer">The Data Viz Catalogue</a>
      <hr/>
      <h2>Ejemplos</h2>
      <ul>
        <li>
          <p><a href="http://mt.data4.mx/mt-rivalidad-concacaf/#/" target="_blank">Comparativo histórico entre las rivalidades de la CONCACAF y la CONMEBOL</a></p>
        </li>
        <li>
          <p><a href="http://mt.data4.mx/copa-america-2016/#/rivalidades-historicas" target="_blank">Visualización de las rivalidades históricas entre los países de la Copa América</a></p>
        </li>
        <li>
          <p><a herf="http://mt.data4.mx/copaamerica-vs-eurocopa/#/" target="_blank">Comparativos del impacto de la Copa América vs la Eurocopa</a></p>
        </li>
        <li>
          <p><a href="http://mt.data4.mx/mt-olimpicos/#/medallero" target="_blank">Medallero interactivo Rio 2016</a></p>
        </li>
        <li>
          <p><a herf="http://mt.data4.mx/mt-sociodemograficos-olimpicos/#/" target="_blank">Datos históricos y sociodemográficos de los Juegos Olímpicos</a></p>
        </li>
        <li>
          <p><a href="http://mt.data4.mx/mt-post-olimpicos/#/" target="_blank">Comparativo de la cantidad estimada de medallas vs las medallas obtenidas en Rio 2016</a></p>
        </li>
      </ul>
      <hr/>
    </div>
  </div>
</div>