// The content below is only a placeholder and can be replaced.
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(routerLink='/') Taller D3
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item([ngClass]='{active: route == "/"}')
        a.nav-link(routerLink='/') Introducción 
      li.nav-item([ngClass]='{active: route == "/d3-intro"}')
        a.nav-link(routerLink='/d3-intro') Básicos de D3
      li.nav-item([ngClass]='{active: route == "/d3-svg"}')
        a.nav-link(routerLink='/d3-svg') Graficando datos
      //li.nav-item([ngClass]='{active: route == "/dbox"}')
        a.nav-link(routerLink='/dbox') Intro a dbox
      //- li.nav-item.dropdown
      //-   a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      //-     | Dropdown
      //-   .dropdown-menu(aria-labelledby='navbarDropdown')
      //-     a.dropdown-item(href='#') Action
      //-     a.dropdown-item(href='#') Another action
      //-     .dropdown-divider
      //-     a.dropdown-item(href='#') Something else here
      //- li.nav-item
      //-   a.nav-link.disabled(href='#') Disabled
    // Busqueda
    //- form.form-inline.my-2.my-lg-0
    //-   input.form-control.mr-sm-2(type='search', placeholder='Búsqueda', aria-label='Search')
    //-   button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Buscar

router-outlet
