
<!-- The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" routerLink="/">Taller D3</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{active: route == &quot;/&quot;}"><a class="nav-link" routerLink="/">Introducción </a></li>
      <li class="nav-item" [ngClass]="{active: route == &quot;/d3-intro&quot;}"><a class="nav-link" routerLink="/d3-intro">Básicos de D3</a></li>
      <li class="nav-item" [ngClass]="{active: route == &quot;/d3-svg&quot;}"><a class="nav-link" routerLink="/d3-svg">Graficando datos</a></li>
      <!--li.nav-item([ngClass]='{active: route == "/dbox"}')a.nav-link(routerLink='/dbox') Intro a dbox
      -->
    </ul>
    <!-- Busqueda-->
  </div>
</nav>
<router-outlet></router-outlet>