
<div class="container">
  <div class="row ng-scope" id="charts">
    <div class="col-12">
      <h2>Graficando datos</h2>
      <h3>Cuando los elementos y datos toman sentido</h3>
      <div class="row">
        <div class="col-12">
          <h4>Ejemplo 1</h4>
        </div>
        <div class="col-12">
          <div class="panel panel-default">
            <div class="panel-heading"><code>#ejemplo1</code></div>
            <div class="panel-body" id="ejemplo1"></div>
          </div>
        </div>
        <div class="col-12">
          <!-- code mirror-->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4>Ejercicio 1</h4>
          <ul>
            <li>Retomando el ejercicio de la sección anterior. A cada circulo ponle como valor de su propiedad width y height, el valor del dato. Recuerda que las propiedades se modifican usando el método<code>.attr(name, value);</code></li>
          </ul>
        </div>
        <div class="col-12">
          <div class="panel panel-default">
            <div class="panel-heading"><code>#ejercicio1</code></div>
            <div class="panel-body" id="ejercicio1"></div>
          </div>
        </div>
        <div class="col-12">
          <!-- code mirror-->
        </div>
      </div>
      <h3>¿Y si tengo los datos en un CSV / TSV / JSON?</h3>
      <p>D3.js permite importar archivos de datos directamente usando los métodos</p>
      <div class="panel panel-default">
        <div class="panel-heading">Métodos</div>
        <div class="panel-body">
          <pre>d3.csv(url, bindingFunction).then(callBack).catch(errFunction);
d3.tsv(url, bindingFunction).then(callBack).catch(errFunction);
d3.json(url, bindingFunction).then(callBack).catch(errFunction);
d3.dsv(url, bindingFunction).then(callBack).catch(errFunction);</pre>
          <p>La promesa siempre recibe el arreglo de datos finales y si existió algun error</p>
        </div>
      </div>
      <h3>Trabajando con divs</h3>
      <div class="row">
        <div class="col-12">
          <h4>Causas de muerte en la Ciudad de México en 2013</h4>
          <div class="panel panel-default">
            <div class="panel-heading">Data.csv</div>
            <div class="panel-body">
              <pre>Causas	                                        Defunciones
Enfermedades del corazón 	                      12234
Enfermedades isquémicas del corazón 	          9280
Diabetes mellitus 	                            9461
Tumores malignos 	                              7685
Enfermedades cerebrovasculares 	                3092
Enfermedades del hígado 	                      2749
Enfermedad alcohólica del hígado 	              926
Influenza y neumonía 	                          2402
Enfermedades pulmonares obstructivas crónicas 	1839
Accidentes 	                                    1714
De tráfico de vehículos de motor              	881
Agresiones 	                                    1093
Insuficiencia renal 	                          897
Otras causas 	                                  9544                      </pre>
              <div class="row"><small class="col-6 pull-left">Fuente: INEGI. Estadísticas de mortalidad. Distrito Federal, 2013</small><small class="col-6 pull right text-right"><a href="assets/data/CausasDeMortalidadDF2013.csv">CSV<span class="glyphicon glyphicon-download"></span></a></small></div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <!-- code mirror-->
        </div>
        <div class="col-12">
          <div class="panel panel-default">
            <div class="panel-heading"><code>#chart-bar</code></div>
            <div class="panel-body">
              <div id="chart-bar"></div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <h3>Features</h3>
      <div class="row">
        <div class="col-12">
          <h4>Escalas</h4>
          <p><a href="http://www.jeromecukier.net/blog/2011/08/11/d3-scales-and-color/">http://www.jeromecukier.net/blog/2011/08/11/d3-scales-and-color/</a></p>
        </div>
        <div class="col-12">
          <!-- code mirror-->
        </div>
        <div class="col-12">
          <div class="panel panel-default">
            <div class="panel-heading"><code>#scales</code></div>
            <div class="panel-body">
              <div id="scales"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4>Eventos</h4>
          <p><a href="https://developer.mozilla.org/en-US/docs/Web/Events#Standard_events">https://developer.mozilla.org/en-US/docs/Web/Events#Standard_events</a></p>
        </div>
        <div class="col-12">
          <!-- code mirror-->
        </div>
        <div class="col-12">
          <div class="panel panel-default">
            <div class="panel-heading"><code>#events</code></div>
            <div class="panel-body">
              <div id="events"></div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <h3>D3 + SVG</h3>
      <p><a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Element">https://developer.mozilla.org/en-US/docs/Web/SVG/Element</a></p>
      <hr/>
      <h3>Ejercicio 2 / Ejemplo 2</h3>
      <ul>
        <li>Establece la escala a usar para las distancias de los planetas al Sol.</li>
        <li>Genera una lista (arreglo) con los nombres de los planetas.</li>
        <li>Establece la escala<strong>ordinal</strong>a usar para cada uno de los planetas.</li>
        <li>Genera circulos de SVG para cada uno de los planetas incluidos en los datos</li>
        <li>Haz que la distancia (propiedad cx) sea proporcional según la escala</li>
        <li>Genera otra escala que tome en cuenta el alto <code>height</code> del contenedor y los valores mínimo y máximo del diámetro de los planetas.</li>
        <li>Establece el tamaño de los planetas según su diámetro usando esa escala.</li>
      </ul>
      <div class="row">
        <div class="col-12">
          <h4>Distancia de los planetas al sol</h4>
          <div class="panel panel-default">
            <div class="panel-heading">Data.csv</div>
            <div class="panel-body">
              <pre>Planeta	  Distancia media al Sol (Km)	Diámetro (Km)
Mercurio 	57909175	                  4880
Venus 	  108208930	                  12104
Tierra 	  149597870	                  12756
Marte 	  227936640	                  6794
Júpiter 	778412010	                  142984
Saturno 	1426725400	                108728
Urano 	  2870972200	                51118
Neptuno 	4498252900	                49532
</pre>
              <div class="row"><small class="col-6 pull-left">Fuente: Wikipedia, 2016</small><small class="col-6 pull right text-right"><a href="assets/data/planetas.csv">CSV<span class="glyphicon glyphicon-download"></span></a></small></div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="panel panel-default">
            <div class="panel-heading"><code>#ejercicio2</code></div>
            <div class="panel-body planetas" id="ejercicio2"></div>
          </div>
        </div>
        <div class="col-12">
          <!-- code mirror-->
        </div>
      </div>
      <hr/>
      <h3>Gráficas reutilizables como una función</h3>
      <div class="row">
        <div class="col-12">
          <h4>Marcas de autos más vendidos en febrero de 2016</h4>
          <div class="panel panel-default">
            <div class="panel-heading">Data.csv</div>
            <div class="panel-body">
              <pre>\n                            </pre>
              <div class="row"><small class="col-6 pull-left">Fuente: Asociación Mexicana de la Industria Automotriz</small><small class="col-6 pull right text-right"><a href="assets/data/AutosVendidosFeb2016.csv">CSV<span class="glyphicon glyphicon-download"></span></a></small></div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <!-- code mirror-->
        </div>
        <div class="col-12">
          <div class="panel panel-default">
            <div class="panel-heading"><code>#chart-svg</code></div>
            <div class="panel-body">
              <div id="chart-svg"></div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Layouts </h4><a href="https://github.com/pshrmn/notes/blob/master/d3/layouts.md" target="_blank">https://github.com/pshrmn/notes/blob/master/d3/layouts.md</a>
      <h4>API Reference</h4><a href="https://github.com/d3/d3/blob/master/API.md" target="_blank">https://github.com/d3/d3/blob/master/API.md</a>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Más ejemplos en <a href="https://github.com/mbostock/d3/wiki/Gallery">https://github.com/mbostock/d3/wiki/Gallery</a></h4>
      <hr/>
    </div>
  </div>
</div>